.chat-container{
    border: 1px solid goldenrod; 
    position: absolute;
    margin: 0 15px 10px;
    padding: 15px 20px;
} 

.message {
    border-radius: 50px;  
    position: relative;
    font-weight: bold; 
} 
.message.from a{
    background: #42a5f5;
    color: #fff !important;
    border-radius: 20px 20px 3px 20px;
    display: block;
    max-width: 75%;
    padding: 7px 13px 7px 13px;
    margin-bottom: 15px;
}
.message.from span { 
    position: absolute;
    right: 15px;
    bottom: -5rem;
    display: block;
    font-size: 1rem;
    color: rgba(84, 110, 122,1.0);
}

.message.to a{
    background: #f1f1f1;
    color: #000 !important;
    border-radius: 20px 20px 20px 3px;
    display: block;
    max-width: 75%;
    padding: 7px 13px 7px 13px;
    margin-bottom: 15px;    
}
.message.to span { 
    position: absolute;
    left: 15px;
    bottom: -5em;
    display: block;
    font-size: 1rem;
    color: rgba(84, 110, 122,1.0);
}
.no-background{
    background: none;
}
.panel-body{
    max-height: 500px;
    overflow-y: auto;
}