<!-- <div class="chat-container">
<ng-container *ngFor="let message of messages">  
    <div class="message" [ngClass]="{ 'from': message.sentBy === 0,
    'to':   message.sentBy === 1 }">
      <a [ngClass]="{ 'float-right': message.sentBy === 0,
      'float-left':   message.sentBy === 1 }">{{ message.content }}</a>
    </div>  
  </ng-container>
  <div class="chat-footer"> 
        <div class="row">
        <div class="col-9 m-0 p-1">
        
          <input id="text" class="mw-100 border rounded form-control" type="text" name="text" title="Type a message..." placeholder="Type a message..." required="">
          
        </div>
        <div class="col-3 m-0 p-1">
        
          <button class="btn btn-outline-secondary rounded border w-100" title="Gönder!" style="padding-right: 16px;"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              
        </div>
        </div> 
      
    </div> 
</div> -->

<div class="panel panel-default">
  <div class="panel-heading">Chat</div>
  <div class="panel-body">
    <ng-container  *ngFor="let message of messages">  
      <div class="row">
      <div class="message col-sm-12" [ngClass]="{ 'from': message.sentBy === 0,
      'to':   message.sentBy === 1 }">
        <a *ngIf="message.content" [ngClass]="{ 'pull-right': message.sentBy === 0,
        'pull-left':   message.sentBy === 1 }">{{ message.content }}</a>
        <app-portfolio-list *ngIf="message.showPortfolioList" [userId]="message.showPortfolioList.userId" [date]="message.showPortfolioList.date"></app-portfolio-list>
      </div>  
    </div>
    </ng-container>
  </div>
  <div class="panel-footer no-background">
    <div class="row">

        <div class="col-sm-12 input-group">
            <input type="text" class="form-control" placeholder="Type your message" [(ngModel)]="messageContent"  (keyup.enter)="sendMessage()">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="googleSpeech()">Go!</button>
            </span>
          </div>
      </div> 
  </div>
</div> 